@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.embla {
  overflow: hidden;
  z-index: -10;
  position: absolute;
  top: 0%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide img{
  width: 100% ;
}
.social-ico-block {
  width: 20px;
  top: 50vh;
  transform: translate(0,-50%);
  right: 40px;
  position: fixed;
  z-index: 25
}

.social-ico {
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
  margin: 10px 0
}

.social-ico svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  opacity: 1
}

.social-ico svg path {
  fill: #fff
}

.social-ico:hover svg {
  opacity: .5;
  cursor: pointer
}
.imagecontainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  column-gap: 2rem;
}

@media (max-width: 425px) {
  .imagecontainer {
    display: grid;
    grid-template-columns: 2fr;
    row-gap: 2rem;
  }
}



.block {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  font-size: 1.3rem;
 
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height:100%;
  padding: 50px;

}

.container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: rgb(31, 28, 28);
  padding: 10px;
  border-radius: 5px;
  background-color: #e8f0fe;
}

.container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 5px;
  background-color: #e8f0fe;
  font-size: 20px;
}

.container h1 {
  text-align: center;
  font-weight: 600;
}

.name div {
  display: flex;
  flex-direction: column;
}

.block button {
  padding-top: 10px;
  margin-bottom: 0%;
  font-size: 20px;
  width: 30%;
  border: 3px solid black;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
}

textarea {
  resize:none;
}